h1, h2 {
    margin: 0;
}

.help {
    border-bottom: 1px dotted #000;
    cursor: help;
}

.help:hover {
    background-color: #EEE;
}

.hidden {
    display: none;
}

#manualOrQuick {
    margin-left: 40px;
}

#presetOrNot {
    margin-left: 40px;
}

#quickFaviconTestImage {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    padding-left: 5px;
    padding-right: 5px;
}
