h1, h2 {
    margin: 0;
}

h2 {
    display: inline;
    padding-right: 0.25em;
}

#autoEnabler {
    vertical-align: text-bottom;
}

.help {
    border-bottom: 1px dotted #000;
    cursor: help;
}

.help:hover {
    background-color: #EEE;
}

.hidden {
    display: none;
}

#manualOrQuick {
    margin-left: 2.5em;
}

#presetOrNot {
    margin-left: 2.5em;
}

#quickFaviconTestImage, .autoMatchFaviconImage {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.autoMatchReplaceSpacer, .invisible {
    visibility: hidden;
}

#autoMatches {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul#autoMatches li {
    list-style-type: none;
}
